<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/meta.ejs"); %>
    <link href="/styles/globals/global.css" rel="stylesheet" type="text/css" />
    <link href="/styles/pages/questions.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("../partials/header.ejs"); %>
    <main>
      <section class="wrapper"></section>
    </main>
    <%- include("../partials/footer.ejs"); %>
  </body>
  <script src="/js/questions.js" defer></script>
</html>
